.triple_outer_container{
	text-align: left;
	display:inline-block;
	padding-right:10%;
}
.dot-div{
	display:inline;
}
[id$="-text"]{
	display:inline;
}
[class$="-dot"]{
	display:inline;
	font-size:150%;
}
[id$="-dots"]{
	display:inline;
}
[id$="_container"]{	
	margin:auto;
	width:50%;

}
.divider{
	width:90%;
	margin: 0 auto;
	margin-top:10px;
	margin-bottom:10px;
	border-style:solid none none none;
	border-top-width: 1px;
	border-top-color:black;
}