.triple_outer_container{
	display:inline-block;
	padding-right:5%;
}
.dot-div{
	display:inline;
}
[class$="-dot"]{
	display:inline;
	font-size:150%;
}
[id$="-dots"]{
	display:inline;
}
#divider{
	width:75%;
	margin: 0 auto;
	margin-top:10px;
	margin-bottom:10px;
	border-style:solid none none none;
	border-top-width: 1px;
	border-top-color:black;
}